COMPOSE_PROJECT_NAME=gestionfin_db

POSTGRES_USER=your_postgres_user_for_local_postgres
POSTGRES_PASSWORD=your_postgres_password_for_local_postgres
POSTGRES_DB=your_postgres_database_name
POSTGRES_PORT=your_postgres_port
POSTGRES_CONTAINER_NAME=your_postgres_container_name

JWT_SECRET=your_jwt_secret_value

DB_HOST=your_database_host
DB_PORT=your_database_port
DB_USER=your_database_user
DB_PASSWORD=your_database_password
DB_NAME=your_database_name
DB_SYNC=your_true_or_false_value