COMPOSE_PROJECT_NAME=gestionfin_db

POSTGRES_USER=your_postgres_user_for_local_postgres
POSTGRES_PASSWORD=your_postgres_password_for_local_postgres
POSTGRES_DB=your_postgres_database_name
POSTGRES_PORT=your_postgres_port
POSTGRES_CONTAINER_NAME=your_postgres_container_name

JWT_SECRET=your_jwt_secret_value

DB_HOST=ep-royal-sunset-am9geyos-pooler.c-5.us-east-1.aws.neon.tech
DB_PORT=5432
DB_USER=neondb_owner
DB_PASSWORD=REPLACE_WITH_YOUR_NEW_NEON_PASSWORD
DB_NAME=gestionfin_db
DB_SYNC=false
DB_SSL=true